alias startEmulators="firebase emulators:start --import ./emulatorData --project listwhatever-ad43ed --inspect-functions"
alias exportEmulatorData="firebase emulators:export ./emulatorData --project listwhatever-ad43ed"
alias buildImage="docker build -t lidholm/flutter:0.0.25 ."
alias uploadImage="docker push lidholm/flutter:0.0.25"
alias runImage="docker run -it lidholm/flutter:0.0.25"
alias killPorts="kill-port --port 8000,9099,5001,8080,9000,5000,8085,9199,4000,4400,4500"
alias generateFreezed="dart run build_runner build --delete-conflicting-outputs"
alias generateFreezedWatch="flutter pub run build_runner watch --delete-conflicting-outputs"
alias deployHosting="flutter build web --release -t lib/standard/main/main_production.dart && firebase deploy --only hosting"
alias deployFunctions="firebase deploy --only functions"
alias exportProductionData="npx -p node-firestore-import-export firestore-export -a firebaseExportCredentials.json -b firestoreData.json"
alias exportEmulatorDataToFile="export FIRESTORE_EMULATOR_HOST=localhost:8080 && npx -p node-firestore-import-export firestore-export -a firebaseExportCredentials.json -b firestoreData.emulator.json"
alias importProductionData="npx -p node-firestore-import-export firestore-import -a firebaseExportCredentials.json -b firestoreData.json"
alias importProductionDataToEmulator="export FIRESTORE_EMULATOR_HOST=localhost:8080 && npx -p node-firestore-import-export firestore-import -a firebaseExportCredentials.json -b firestoreData.local.json"
alias importFileDataToEmulator="export FIRESTORE_EMULATOR_HOST=localhost:8080 && npx -p node-firestore-import-export firestore-import -a firebaseExportCredentials.json -b firestoreData.json"
alias gen-l10n="jq '. | flatten | add' lib/l10n/arb/app_en_nested.json > lib/l10n/arb/app_en.arb && flutter gen-l10n"
alias getRandomHash="openssl rand -hex 3"

alias replaceVersionAboutPage="sed -i '' -e \"s/<version>/`grep "version:" pubspec.yaml | cut -d ' ' -f 2 | xargs echo `/g\" lib/custom/pages/about/about_page.dart"
alias replaceGitVersionAboutPage="sed -i '' -e \"s/<git_hash>/`git rev-parse --short HEAD`/g\" lib/custom/pages/about/about_page.dart"
alias replaceDateTimeAboutPage="sed -i '' -e \"s/<datetime>/`date +"%Y-%m-%d %k:%M:%S %Z"`/g\" lib/custom/pages/about/about_page.dart"
alias replaceAboutPage="replaceVersionAboutPage && replaceGitVersionAboutPage && replaceDateTimeAboutPage"
alias buildProductionAab="flutter build appbundle --release --no-tree-shake-icons --flavor production -t lib/standard/main/main_production.dart"
alias buildDebugWebBundle="replaceAboutPage && flutter build web --no-tree-shake-icons --profile -t lib/standard/main/main_production.dart"
alias buildProductionWebBundle="replaceAboutPage && flutter build web --no-tree-shake-icons --release -t lib/standard/main/main_production.dart"
alias deployWebBundle="firebase deploy --only firestore,hosting && git checkout -- lib/custom/pages/about/about_page.dart"
alias deployProductionAabToGoolePlay="sh scripts/gitlabci/deployToGooglePlayStore.sh"
# alias deployProductionAabToFirebase="firebase appdistribution:distribute build/app/outputs/bundle/productionRelease/app-production-release.aab --app `grep mobilesdk_app_id android/app/google-services.json | head -1 | cut -d '"' -f 4` --testers-file deploy/android/testers.txt --release-notes-file deploy/release_notes.txt"


runIntegrationTestsOnWeb () {
    for src in integration_test/*; do
        echo $src
        flutter drive --driver=test_driver/integration_test.dart --target=$src  -d chrome
    done
}

# alias killPortsWindows="netstat -ano | findstr :8085" && taskkill /PID <PID> /F
# alias killPortsMac="lsof -i :5000" && kill -9 18510
