alias startEmulators="firebase emulators:start --import ./emulatorData   --project listwhatever-ad43ed --inspect-functions"
alias exportEmulatorData="firebase emulators:export ./emulatorData --project listwhatever-ad43ed"
alias exportEmulatorDataDemo="firebase emulators:export ./emulatorData --project demo-listwhatever-ad43ed"
alias exportEmulatorData="firebase emulators:export ./emulatorData --project listwhatever-ad43ed"
alias deployHosting="flutter build web --release -t lib/main_production.dart && firebase deploy --only hosting"
alias deployFunctions="firebase deploy --only functions"
alias exportProductionData="npx -p node-firestore-import-export firestore-export -a firebaseExportCredentials.json -b firestoreData.json"
alias importProductionData="npx -p node-firestore-import-export firestore-import -a firebaseExportCredentials.json -b firestoreData.json"
alias importProductionDataToEmulator="export FIRESTORE_EMULATOR_HOST=localhost:8080 && npx -p node-firestore-import-export firestore-import -a firebaseExportCredentials.json -b firestoreData.local.json"
alias gen-l10n="jq '. | flatten | add' lib/l10n/arb/app_en_nested.json > lib/l10n/arb/app_en.arb && flutter gen-l10n"
