{
	"data": "",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1qa3xfajupgfvyy3w76vurjht7a64u789w6e3f9jr3c4v86tgnv6qkncnku",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBIbExsbCtOaDhJQnl5aldu\nc2NldGh3aThxbzVReDlwcVh2cFBacmI0c21vClY0NUl1KzdxTmN0MHNDaFdGQjFZ\nZG85MkY2SHVxSlRFZEdzeWM3K0lueEUKLS0tIDVESitETDlYdGNlMlZVMXlha1F3\nZGQrWXFoaDhkelR5VFJ6YnJKTUY3d2cKlN63bGOWuiRDbR6mb8x5NrGs2DaqS7Cf\nmuGG8JFttMs/80VJLtPBSJYJCYT+m1aPHUngg5816bYM8CejWeUi7g==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2023-02-23T03:53:39Z",
		"mac": "ENC[AES256_GCM,data:OUV1mqg6IYK+CaH+ZDf5Q2vO2rvLtF+ZvnGb5v0R/8L25v5Nwse0LUUG1EjzHBU3aA4zUYhQkTT5AK3PdVDSf6PcDtsM9dmsdWDHGC+jlvSDdrgPxNR2seA0MLoL6oDZKMymti75LZS69OxIj+mk1rolLGrZaCKaabhnsgLMwuA=,iv:kAhbIeKefOQpdNQZwzkmVf6ah8H2dUAUoM1XNyhHP/s=,tag:wAYB8SmUp2fO7aOjvWakog==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.7.2"
	}
}